body {
    font-family: "Lucida Handwriting", "Brush Script MT", cursive;
}

body::after{
    background: url(pizza-background.jpg) repeat;
    content: "";
    opacity: 0.8;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    min-height: 100em;
}

article{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #082A40;
    color: white;
    margin-bottom: 0.7rem;
    border-radius: 1rem;
}

h2{
    display: flex;
    justify-content: center;
    background-color: #082A40;
    color: white;
    border-radius: 1rem;
    padding: 0.7rem;
}

main {
    display: flex;
    justify-content: center;
}

select {
    width: 90%;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

input[type='button'], input[type='reset'] {
    width: 70%;
    margin: 0.3rem;
    background-color: #E16541;
    color: white;
    border-radius: 1rem;
}

input[type='submit'] {
    width: 70%;
    margin: 0.3rem;
    background-color: #63be3e;
    color: white;
    border-radius: 1rem;
}

input[type='submit']:disabled {
    width: 70%;
    margin: 0.3rem;
    background-color: dimgrey;
    color: white;
    border-radius: 1rem;
}

input[type='radio'] {
    accent-color: #63be3e;
}

ul{
    display: flex;
    list-style-type: none;
}

li a {
    padding: 0.5rem;
    color: white;
    text-decoration: none;
}

h1{
    padding-left: 0.8rem;
    width: fit-content;
    height: fit-content;
    margin: 0
}

.gradient-text {
    font-size: 3.2rem;
    background-color: #CA4246;
   
    /* Create the gradient. */
    background-image: linear-gradient(
      45deg,
      #CA4246 16.666%,
      #E16541 16.666%,
      #E16541 33.333%,
      #F18F43 33.333%,
      #F18F43 50%,
      #8B9862 50%,
      #8B9862 66.666%,
      #476098 66.666%,
      #7fad48 83.333%,
      #63be3e 83.333%);
   
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
   
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   
    /* Animate the text when loading the element. */
    /* This animates it on page load and when hovering out. */
    animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
   }
   
   .gradient-text:hover{
    animation: rainbow-text-simple-animation 0.5s ease-in forwards;
   }
   @keyframes rainbow-text-simple-animation-rev {
    0% {
      background-size: 650%;
    }
    40% {
      background-size: 650%;
    }
    100% {
      background-size: 100%;
    }
   }
   
   @keyframes rainbow-text-simple-animation {
    0% {
      background-size: 100%;
    }
    80% {
      background-size: 650%;
    }
    100% {
      background-size: 650%;
    }
   }
   

#price {
    display: flex;
    flex-direction: row;
}

#navbar{
    display: flex;
    flex-direction: row;
    background-color: #082A40;
    opacity: 1;
    border-radius: 1rem;
}

@media only screen and (max-width: 760px){
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        padding: 0;
    }

    ul {
        padding: 0;
    }

    h2 {
        font-size: 1.2rem;
    }

    li a {
        border: 0.15rem solid white;
        font-size: 0.8rem;
    }

  }

